body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  /* Центрирует содержимое */
}

/* styles/Home.module.scss */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}


.background {
  position: fixed;
  /* Используем fixed, чтобы он покрывал всё окно */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../Image/1723134614110.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
  /* Отправляем фон на самый нижний слой */
}

/* styles/global.scss */
.button {
  display: block;
  margin-bottom: 10px;
}

.page-container {
  min-height: 100vh;
  /* Минимальная высота равна высоте viewport */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Распределяет пространство между элементами */
}

footer {
  /* Занимает всю ширину родителя */
  background-color: #333;
  /* Пример цвета фона */
  color: white;
  /* Пример цвета текста */
  padding: 20px;
  /* Отступы вокруг текста */
  text-align: center;
  /* Центрирование текста */
}


.modal {
  width: 800px;
  height: 600px;
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}



.modal p {
  font-size: 16px;
}

.modal button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #3e8e41;
}
