.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}

.headerLogo {
  height: 100%;
  width: 200px;
}

.header_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-left: 10px;
}
